.logincontainer {
  width: 100%;
  height: 100vh;
  padding-top: 4%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginlogo {
  width: 90px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login form p{
  display: flex;
  flex-direction: column;
  align-items: center;
}
